/* Root styles */
:root {
  --primary-color: #007bff;
  --secondary-color: #6b6b6b;
  --background-color: #111111;
  --text-color: #ffffff;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0 0 5rem 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--text-color);
  background-color: var(--background-color);
}

#app {
  padding: 20px;
  margin-top: 2rem;
}

h1,
h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 5px 0;
  transition: color 0.2s ease;
}

li:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

/* Gaya tabel */
#judul-list th,
#judul-list td {
  border: 1px solid var(--secondary-color);
  padding: 10px;
  text-align: center;
}

#judul-list tr:nth-child(even) {
  background-color: var(--background-color);
  color: var(--text-color);
}

#judul-list tr:hover {
  background-color: var(--background-color);
  cursor: pointer;
}

/* Navigation */
.chapter-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
}

.chapter-float {
  position: fixed;
  bottom: 0px;
  right: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--background-color);
  z-index: 1;
  border-top: 2px solid var(--secondary-color);
}

select.chapter-list,
.chapter-list-bottom {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--background-color);
  cursor: pointer;
  color: var(--text-color);
  transition: background-color 0.2s ease;
}

.nav-btn {
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--background-color);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-btn:disabled {
  background-color: var(--background-color);
  cursor: not-allowed;
}

.nav-btn:hover:not(:disabled) {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Image Viewer */
.image-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-container img {
  max-width: 100%;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  transition: transform 0.5s ease;
}

@media (min-width: 768px) {
  .image-container img {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .image-container img {
    max-width: 60%;
  }
}

.manga-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  text-align: left;
}

.manga-table th {
  border: 1px solid #ccc;
  padding: 10px;
}

.d-none {
  display: none;
}
